.companionIcon {
  border: 1px solid grey;

  width: 80%;
  height: 80%;
  padding: 20px;
  border-radius: 100%;
}

.imgWrap {
  border-bottom: solid 1px #9c9c9c;
  padding-bottom: 15px;
  display: flex;
  flex-direction: column;
}
